/* GENERAL STYLING */
* {
  text-align: center;
}

body{
  height: 100vh;
  background-color: whitesmoke;
}

#learn-main-div, #main-component-div, #our-prog-main-div, #get-started-main-div, #contact-us-main-div {
  height: fit-content;
}


/* ~~~ PAGE SPECIFIC STYLING ~~~ */

/* MAIN COMPONENT STYLING */
#app-main-div{
  height: 100%;
}

main{
  height: 100vh;
}

.main-component-div{
  height: 65%;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

#btn-get-started {
width: fit-content;
}

.hover-p {
  position: absolute;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* FOOTER STYLING */
.footer-main-div{
  background-color: aliceblue;
  padding: 20px;
  margin-top: 200px;
}
